.maincontent {
    margin-top: 4%;
}

.animated-enter { (1)
opacity: 0.01;
}

.animated-enter.animated-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.animated-leave { (2)
opacity: 1;
}

.animated-leave.animated-leave-active { ()
opacity: 0.01;
    transition: opacity 300ms ease-in;
}
