/*body {*/
    /*!*background: url('../../images/background/bg1.jpg') no-repeat center center fixed;*!*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*background-color: #ccc;*/
/*}*/

.FilmView {

}

.maincontent {
    margin-top: 4%;
}

.bigpicture {
    border: 2px solid white;
    margin-bottom: 10px;
    width: 100%;
    min-width: 250px;
}

.description {

    background-color: #fff;
    line-height: 1;
    color: #000;
    font-size: 22px;
    padding: 10px 15px;
    margin-bottom: 15px;
    min-width: 51%;
    display: inline-block;

}
