body {
     background: url('../../../public/images/background/main_bg.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-color: #ccc;
 }

.mainPicture {
     width: 40%;
     margin-left: 50%;
     margin-top: 10%;
     border: none;
}
